<section class="main-content">
  <h1>Main content</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, rem distinctio dicta libero, aspernatur perspiciatis nostrum asperiores eveniet repudiandae quis sapiente perferendis labore incidunt cumque numquam dolor autem! Facilis, libero.
    Odit, aut beatae consequatur obcaecati quis voluptatibus sequi porro dolorum cumque, fuga vel reprehenderit adipisci quibusdam quos quaerat ipsum, consequuntur corporis impedit quasi! Animi, labore magnam! Voluptas, voluptatibus adipisci! Reiciendis?
    Veniam, fugiat eligendi pariatur qui ipsa consectetur dolore dolorum iste exercitationem velit provident unde minima optio quia eum. Optio quisquam quia nemo enim, similique tempore animi rerum perferendis recusandae minus!
    Perspiciatis, quaerat accusantium deserunt est nam quam, facilis molestias quo nobis inventore laboriosam ut. Numquam repellat fuga suscipit rem magni doloremque temporibus nam similique maiores explicabo facere error, voluptate dolore!
    Ducimus accusamus rem commodi dicta autem neque a officia vero voluptatem natus, eligendi magni facilis consequuntur cum numquam corporis eaque ratione quis deleniti asperiores pariatur, unde minus. Labore, dolores eveniet.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, rem distinctio dicta libero, aspernatur perspiciatis nostrum asperiores eveniet repudiandae quis sapiente perferendis labore incidunt cumque numquam dolor autem! Facilis, libero.
    Odit, aut beatae consequatur obcaecati quis voluptatibus sequi porro dolorum cumque, fuga vel reprehenderit adipisci quibusdam quos quaerat ipsum, consequuntur corporis impedit quasi! Animi, labore magnam! Voluptas, voluptatibus adipisci! Reiciendis?
    Veniam, fugiat eligendi pariatur qui ipsa consectetur dolore dolorum iste exercitationem velit provident unde minima optio quia eum. Optio quisquam quia nemo enim, similique tempore animi rerum perferendis recusandae minus!
    Perspiciatis, quaerat accusantium deserunt est nam quam, facilis molestias quo nobis inventore laboriosam ut. Numquam repellat fuga suscipit rem magni doloremque temporibus nam similique maiores explicabo facere error, voluptate dolore!
    Ducimus accusamus rem commodi dicta autem neque a officia vero voluptatem natus, eligendi magni facilis consequuntur cum numquam corporis eaque ratione quis deleniti asperiores pariatur, unde minus. Labore, dolores eveniet.
  </p>
</section>
