<button
  data-testid="user-menu-toggle"
  class="user-menu__button"
  (click)="toggleMenu($event)"
  aria-label="User menu"
  aria-haspopup="true"
  [aria-expanded]="showMenu()"
  [disabled]="isLoggingOut()"
>
  @if (isAuthLoading() || isLoggingOut()) {
    <span class="user-menu__loader"></span>
  } @else {
    <app-avatar
      [src]="userAvatar()"
      [alt]="userName()"
      [role]="userRole()"
      [size]="44"
      [priority]="true"
      className="user-menu__avatar"
      placeholderClass="user-menu__avatar-placeholder"
    />
  }
</button>
@if (showMenu()) {
  <div class="user-menu__list" role="menu" (keydown.escape)="closeMenu()">
    <div class="user-menu__name">{{ userName() }}</div>
    <ul role="none">
      @if (userName() === GUEST) {
        <li role="none">
          <button
            class="user-menu__item"
            id="login"
            data-testid="user-menu-login"
            role="menuitem"
            (click)="handleAction('login')"
          >
            Login
          </button>
        </li>
      } @else {
        <li role="none">
          <button
            class="user-menu__item"
            id="settings"
            data-testid="user-menu-settings"
            role="menuitem"
            (click)="handleAction('settings')"
          >
            Settings
          </button>
        </li>
        <li role="none">
          <button
            class="user-menu__item"
            id="exit"
            data-testid="user-menu-logout"
            role="menuitem"
            (click)="handleAction('exit')"
            [disabled]="isLoggingOut()"
          >
            @if (isLoggingOut()) {
              <span>Logging out...</span>
            } @else {
              <span>Logout</span>
            }
          </button>
        </li>
      }
    </ul>
  </div>
}
