@if (isLoading) {
  <article class="post skeleton">
    <h1 class="title">Loading...</h1>
    <p class="text">Please wait while we fetch the content.</p>
  </article>
} @else if (post) {
  <article
    class="post"
    (click)="openDetails(post.id)"
    (keydown.enter)="openDetails(post.id)"
    (keydown.space)="$event.preventDefault(); openDetails(post.id)"
    tabindex="0"
    role="button"
    [attr.aria-label]="'View details for ' + post.title"
  >
    <h1 class="title">{{ post.title }}</h1>
    <p class="text">{{ post.body }}</p>
  </article>
}
