.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: antiquewhite;
  cursor: pointer;

  .title {
    color: green;
  }

  .user {
    color: blue;
    font-size: small;
  }

  .text {
    color: #6c4716;
  }
}
