:host {
  flex: 1;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1rem;
}

li a {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 3rem;
  min-width: 8rem;
  padding: 0 0.5rem;
  background-color: lightgreen;
  text-decoration: none;
  text-transform: uppercase;

  &.active {
    background-color: greenyellow;
    font-weight: bold;
  }

  &.disabled-link {
    background-color: lightgray;
    pointer-events: none;
    cursor: default;
  }

  @media screen and (max-width: 600px) {
    min-width: 3rem;
  }
}
