<nav>
  <ul>
    <li>
      <a
        id="nav-home"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        id="nav-posts"
        routerLink="/posts"
        routerLinkActive="active"
        [class.disabled-link]="!isAuthenticated()"
        [attr.tabindex]="isAuthenticated() ? 0 : -1"
        [attr.aria-disabled]="!isAuthenticated()"
        >Posts</a
      >
    </li>
    <li><a id="nav-about" routerLink="/about" routerLinkActive="active">About</a></li>
  </ul>
</nav>
