<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/posts"
        routerLinkActive="active"
        [class.disabled-link]="!isAuthenticated()"
        [attr.tabindex]="isAuthenticated() ? 0 : -1"
        [attr.aria-disabled]="!isAuthenticated()"
        >Posts</a
      >
    </li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  </ul>
</nav>
